section.dialog {
	height: 100%;
	left: 10px;
	position: absolute;
	visibility: hidden;
	width: 100%;
	z-index: 0;
}
section.dialog.hidden {
	z-index: 0;
	visibility: hidden;
}
section.dialog.visible {
	z-index: 2;
	visibility: visible;
}
section#content {
	left: 200px;
}
section#time {
	left: 10px;
}
