html {
	font-size:12pt;
	min-width:800px;
	width:auto !important;
	width:800px;
}

header {	
	background:#181818;	
	margin:auto;
	width:auto;
	height:auto;
	padding:3px;
}

button {
	padding: 2px;
	margin:2px;
	font-size:11pt;
	background-color:#8B0000;
	color:white;
	height: auto;
	width: auto;
}

footer {
	padding:50px;
	text-align:center;
}

#Settings {
	display:none;
}

#StudyGuides {

}

#card {
	display:none;
}

section[name="header"] {
    padding:10px;
    background:#fdd;
}
section#timetext {
	font-family:tahoma;
    float:left;
    text-align:center;
    height:auto;
    width:15%;
    background:#bfb;
}
section#center {
	border-style:outset;
	margin-left:2px;
	box-shadow: 2px 2px 2px #888888;
    float:left;
    text-align:left;
    height:250px;
    width:70%;
    background:#F0F0F0;
}

section#showAnswer {
	border-style:outset;
	margin-left:2px;
	box-shadow: 2px 2px 2px #888888;
    float:left;
    text-align:left;
    height:250px;
    width:70%;
    background:#F0F0F0 ;
}

section#control {
    float:right;
    text-align:center;
    height:auto;
    width:13%;
    background:#dff;
}

section#footer {
    clear:both;
    text-align:center;
    background:#ff9;
}

